USE [master]
GO
/****** Object:  Database [db_empresa]    Script Date: 10/21/2024 1:40:01 AM ******/
CREATE DATABASE [db_empresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_empresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_empresa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_empresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_empresa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_empresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_empresa]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 10/21/2024 1:40:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[telefono] [varchar](50) NULL,
	[fecha_nacimiento] [date] NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[clientes] ([id_cliente], [nombres], [apellidos], [direccion], [telefono], [fecha_nacimiento]) VALUES (1, N'Henry Alberto', N'Gonzalez Ajcuc', N'Guatemala', N'8235698', CAST(N'1999-09-25' AS Date))
INSERT [dbo].[clientes] ([id_cliente], [nombres], [apellidos], [direccion], [telefono], [fecha_nacimiento]) VALUES (2, N'Angel Agusto', N'Perez Lopez', N'Santa Rosa', N'89563252', CAST(N'1885-05-05' AS Date))
GO
USE [master]
GO
